<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <!--connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\RassiCementLTD.accdb"-->
        <add name="RassiCements_LTD.Properties.Settings.RassiCementLTDConnectionString"           
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\DKVNRAJU\Desktop\RassiCementLTD.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>